@using Hogwarts.Data.Models;
@foreach (var role in Staff.Roles)
{
    @if (role.Id == 1)
    {
        if (Staff.Gender == Data.Gender.Female)
        {
            <div class="shallow-shadow label">HEADMISTRESS</div>
        }
        else
        {
            <div class="shallow-shadow label">HEADMASTER</div>
        }
    }
    else if (role.Id == 2)
    {
        if (Staff.Gender == Data.Gender.Female)
        {
            <div class="shallow-shadow label">DEPUTY HEADMISTRESS</div>
        }
        else
        {
            <div class="shallow-shadow label">DEPUTY HEADMASTER</div>
        }
    }
    else if (role.Id == 4)
    {
        if (Staff.Gender == Data.Gender.Female)
        {
            <div class="shallow-shadow label">MATRON</div>
        }
        else
        {
            <div class="shallow-shadow label">PATRON</div>
        }
    }
    else
    {
        <div class="shallow-shadow label">@role.Name.ToUpper()</div>

    }
}
@code{
    [Parameter] public StaffDto Staff { get; set; }
}
