<span class="badge" style="padding-top:5px">
   @Role.Name
    <button class="align-self-center delete-label" type="button" @onclick="() => RemoveRole.InvokeAsync(Role.Id)"><i style="height:9px" class="fa fa-times fa-sm float-right"></i></button>
</span>


