<div class="toast @(IsVisible ? "toast-visible" : "fadeOut") @BackgroundCssClass">
    <div class="toast-icon">
        <i class="fa fa-@IconCssClass" aria-hidden="true"></i>
    </div>
    <div class="toast-body">
        <p>@Message</p>
    </div>
</div>

