@page "/counter"
<h1>@currentCount</h1>



@for (int i = 0; i < 5; i++)
{
    var a = i;
    <p><button class="btn btn-primary" @onclick="() => test(i)">Set counter to @a</button></p>
}


@functions {
    int currentCount = 0;

    protected void IncrementCount()
    {
        currentCount++;

    }

    void test(int i)
    {
        currentCount = i;
    }
}