<select class="input-group-sm form-control col-md-3" @bind="Selection">
    <option value="0" selected>All Houses</option>
    @foreach (var house in Houses)
    {
        <option value="@house.Id">@house.Name</option>
    }
</select>